---
title: Home
permalink: /
---

<h2> Welcome </h2>

This is an experimental website where we play around to find out how we would like
to structure our web information for easy maintenance in the future.

<div class="events-container">
  <h3>Current events</h3>
  <p><a href="{{ site.baseurl }}/events">All current events</a></p>
  <ul id="frontpage-events-summary">
    <li v-for="event in events" :style="{ 'font-weight': event.hashtags.indexOf('highlight') != -1 ? 'bold' : 'normal' }">
      <a :href="event.url"><span v-text="event.dates.start + ': ' + event.title"></span></a>
      <a class="anchorjs-link " :href="event.calendarUrl" :aria-label="'Calendar link for: ' + event.title.toLowerCase()" data-anchorjs-icon="📅" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: 1; font-family: anchorjs-icons; padding-left: 0.375em;"></a>
    </li>
  </ul>
  <p><a href="{{ site.baseurl }}/events/past/"> Past events </a></p>
</div>

<h3> News </h3>

<a href="{{site.baseurl}}/news/">See all news</a>

{% assign latest_news = site.posts | slice: 0,10 %}
{% for post in latest_news %}
<h4> <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> </h4>
<p> {{ post.date | date: "%Y-%m-%d" }} </p>
<p> {{ post.summary }} </p>
{% endfor %}

<a href="{{site.baseurl}}/news/">See all news</a>
