<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/about-banner.png);">
</section>

<section class="green-box-block-about">
  <div class="container">
    <div class="green-box">
      <div class="read-more-block closename">
        <h2>WHAT IS NEIC?</h2>
        <p>
          NeIC works to improve e-infrastructure and enable better research in the Nordic-Baltic region. We facilitate this work by funding and managing development projects and other activities that focus on developing solutions and platforms in several fields of science. Funding for these activities is provided through national funding agencies and participating project partners.
        <p>
          NeIC is a collaboration entity that facilitates e-infrastructure activities when it is defined as beneficial for
          research e-infrastructure and the national providers. The scope of the facilitated activities can expand
          from research e-infrastructure to other fields, such as health data, public administration, and industry,
          when there is a benefit. Actively seeking new Nordic and European opportunities,
          NeIC has a strong presence in the European e-infrastructure landscape.
        </p>
        <p>
          NeIC is hosted by CSC, which provides for and facilitates Nordic cooperation on research and research infrastructure 
          across the Nordic region. NeIC was established in the key area of e-infrastructure in 2012, and its sustainability was
          consolidated through a Memorandum of Understanding between the five national research councils and NordForsk. The primary role of NeIC today is to jointly or collaboratively explore, evaluate, develop and deploy innovative infrastructure 
          services in response to the strategic priorities in the area of e-infrastructure and the needs of the national 
          e-infrastructure providers, their users and selected ESFRI projects of joint Nordic interest.
          <p>
          NeIC is at an intersection point between national, Nordic and international strategies. NeIC has worked to increase 
          collaborations through a set of projects that include the national providers (CSC, DeiC, RHnet, NAISS, Sigma2 and ETAIS),
          partners in ESFRI projects, and other institutions in the Nordics and Europe. NeIC projects are in place in the areas of 
          Physics and Engineering Sciences, Environmental Sciences, Humanities, Culture and Society, Life Science and e-Sciences.  
          The first set of NeIC projects has generated follow-on projects and new projects with new partners are being formalized.
          This shows both a regeneration capability and a new opportunities capability that are based on the NeIC collaboration
          infrastructure, which is strongly indicative of viable, capable organisation. 
          <p>
          As a result of NeIC's activities, Nordic researchers have more open avenues for resources, advanced support, collaborations 
          and scientific advancement.  Some of the specific benefits for researchers include access to a common Nordic support center 
          and common tools for data sharing and analysis for biodiversity researchers, sharing mechanisms for high-performance computing
          resources, workshops for researchers to improve scientific software development, maximizing national investments in EISCAT_3D,
          stimulating collaboration on earth system modelling, boosting Nordic natural language processing research, offering national 
          hardware resources to the world-wide high-energy physics community that reciprocates access for national researchers, and 
          stimulating the development of leading-edge secure national e-infrastructure for biomedical data through Nordic collaboration.
       
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mission" style="background-image: url({% include baseurl %}/assets/images/our-vision-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VISION</h1>
      <p class="description">NeIC is a global role model for cross-border<br/> distributed and sustainable e-infrastructure collaborations.</p>
    </div>
  </div>
</section>

<section class="history">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="history-image"><img src="{% include baseurl %}/assets/images/history.png" alt="history" />
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <h2>OUR HISTORY</h2>
        <div class="read-more-block readless">
          <p>
            Following a two-year pilot by the Joint Committee of the Nordic Natural Science Research Councils (NOS-N) which was decided on 
            in 2002, the Nordic Data Grid Test Facility (NDGF) was established as a distributed computing infrastructure, hosted under 
            NORDUnet A/S. Since then, the Nordic countries have been collaborating on the Worldwide Large Hadron Collider Computing Grid 
            (WLCG) at CERN, providing research computing and storage for high-energy physicists worldwide. </p>
            <p>
            The successful collaboration was later expanded into a wider Nordic collaboration on digital infrastructure to, aligning with 
            the Nordic eScience Action Plan published in 2008, enable Nordic research excellence across the full spectrum of scientific 
            domains. The new collaboration was founded in 2012 and hosted at NordForsk, an organisation under the Nordic Council of Ministers 
            that provides funding for and facilitates Nordic cooperation on research and research infrastructure. </p>
            <p>
            In 2025, NeIC took on a more agile role by moving under CSC - IT Center for Science and shifting the focus to cater national 
            strategies and needs in the partner countries – Denmark, Estonia, Finland, Iceland, Norway, and Sweden. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-box">
  <div class="min-with-bg"></div>
  <div class="container">
    <div class="left-blue">
      <h2>STRATEGY AND FOCUS</h2>
     <img src="{% include baseurl %}/assets/images/NeIC Strategy 2026-2.png" alt="Strategy 2026" height="300">
  
    </div>
    <div class="bg-min-max">
      <div class="right-blue">
        <h2>STRATEGIC OBJECTIVES</h2>

        <p>Beneficial collaborations are the principal way that NeIC brings together the needs, interests, and resources to create e-infrastructure to support research excellence. </p>

        <p>Connecting competencies ties back to the foundational values of NeIC: to enable the sharing of information, knowledge, and capabilities across country and organisational borders. It is also what makes NeIC so impactful, and essential in supporting the competitiveness of our region. </p>

        <p>Tangible results are the detectable outcomes of NeIC projects, managed with the help of the practical project steering framework. The Affiliate programme supports transferring the results to ensure their sustainability. </p>
                                                                                                                                    
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="organisation" id="organisation">
  <div class="container">
    <div class="left-org">
      <h2>ORGANISATION</h2>
      <p>
        NeIC is a joint initiative between the Nordic countries, hosted by
        CSC - IT Center for Science since 1. January 2025. Its steering body, the Strategic Committee, 
        consists of representatives from the national e-infrastructure provider organisations in Finland, 
        Sweden, Norway, Denmark, Iceland, and Estonia. These strategic partner organisation are CSC, 
        NAISS, Sigma2, DeiC, RHNet, and ETAIS.
      </p>
      <p>
        NeIC is managed by an Executive Team chaired by the NeIC Director.
        Most of NeIC's activities are organised in projects. The Executive Team
        coordinates the activities and participates in project Steering Groups (SG) as
        project owners.
      </p>
      <p>
        In collaboration with national e-infrastructure providers and
        user-community representatives, NeIC engages IT experts to participate in
        development projects and related activities.
      </p>
    </div>
    <div class="right-org">
      <div class="image-block"><img src="{% include baseurl %}/assets/images/260100-Organisation-Chart.png" alt="NeIC organisation" />
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="mission" style="background-image: url({% include baseurl %}/assets/images/our-values-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VALUES</h1>
      <p class="description">Open, reliable and continuously striving to<br/> improve in our work, we are motivated by<br/> adding value to research.</p>
    </div>
  </div>
</section>

<section class="organisation" id="organisation">
  <div class="container">
    <div class="left-org">
      <h2>NEIC PROJECT LIFECYCLE</h2>
      <p>
        Since 2014, NeIC has used Tietoevry’s Practical Project Steering (PPS) model and vocabulary in its activities. 
        This framework is the backbone of NeIC operations and our key to delivering a successful project. The NeIC project 
        lifecycle model contains the phases of a development project and its outcomes as they are described in PPS, supporting 
        and guiding the steering groups by highlighting decisions to be made and documents to be approved. </p>
        <p>
        In 2019, we developed a Policy of Benefit Realization Management (BRM) and implemented this into the project lifecycle
          model. The benefit management in NeIC's projects is divided into three stages: evaluating, managing, and realizing 
          benefits. The BRM at NeIC has over the years evolved into a fit-for-purpose model, where the expected benefits and 
          changes are prioritized at every stage of the project. </p> 
      </p>
    </div>
    <div class="right-org">
      <div class="image-block"><img src="{% include baseurl %}/assets/images/260100-ProjectLifecycle-Model.png" alt="NeIC Project Lifecycle Model" />
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="current-pub">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="left-pub" style="background-image: url({% include baseurl %}/assets/images/publications.png);"></div>
        <div class="right-pub">
          <h2>Publications</h2>
          <ul class="pub-list">

          </ul>
          <div class="btn-block">
            <a href="{% include baseurl %}/about/publications/" class="btn with-border white-hover-btn">SEE MOST RECENT</a>
            <a href="https://wiki.neic.no/wiki/Public_documents" class="btn with-border white-hover-btn">GO TO WIKI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
