<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/about-banner.png);">
</section>

<section class="green-box-block-about">
  <div class="container">
    <div class="green-box">
      <div class="read-more-block closename">
        <h2>WHAT IS NEIC?</h2>
        <p>
          NeIC is hosted by NordForsk, which provides for and facilitates Nordic cooperation on research and research infrastructure 
          across the Nordic region. NeIC was established in the key area of e-infrastructure in 2012, and its sustainability was
          consolidated through a Memorandum of Understanding between the five national research councils and NordForsk. NeIC has two 
          major roles. The first role is to assume operational responsibility for the Nordic distributed Tier-1 facility that is part 
          of the Worldwide LHC Computing Grid (WLCG) that provides computing and storage for CERN and is used by high energy physicists
          worldwide. The second is to jointly or collaboratively explore, evaluate, develop and deploy innovative infrastructure 
          services in response to the strategic priorities in the area of e-infrastructure and the needs of the national 
          e-infrastructure providers, their users and selected ESFRI projects of joint Nordic interest.  NeIC e-infrastructure projects
          are collaborations on the building blocks for the future capabilities and NeIC is NordForsk’s main tool to implement the 
          Nordic eScience Action Plan 2.0. 
          <p>
          NeIC is at an intersection point between national, Nordic and international strategies. NeIC has worked to increase 
          collaborations through a set of projects that include the national providers (CSC, DeIC, RHnet, SNIC, UNINETT Sigma2),
          partners in ESFRI projects, and other institutions in the Nordics and Europe. NeIC projects are in place in the areas of 
          Physics and Engineering Sciences, Environmental Sciences, Humanities, Culture and Society, Life Science and e-Sciences.  
          The first set of NeIC projects has generated follow-on projects and new projects with new partners are being formalized.
          This shows both a regeneration capability and a new opportunities capability that are based on the NeIC collaboration
          infrastructure, which is strongly indicative of viable, capable organisation. 
          <p>
          As a result of NeIC’s activities, Nordic researchers have more open avenues for resources, advanced support, collaborations 
          and scientific advancement.  Some of the specific benefits for researchers include access to a common Nordic support center 
          and common tools for data sharing and analysis for biodiversity researchers, sharing mechanisms for high-performance computing
          resources, workshops for researchers to improve scientific software development, maximizing national investments in EISCAT_3D,
          stimulating collaboration on earth system modelling, boosting Nordic natural language processing research, offering national 
          hardware resources to the world-wide high-energy physics community that reciprocates access for national researchers, and 
          stimulating the development of leading-edge secure national e-infrastructure for biomedical data through Nordic collaboration.
          <p>
          Funding of NeIC’s activities is provided through national funding agencies, NordForsk and participating project partners.  
          In 2017, national contributions of 13,2 MNOK released NordForsk co-funding of 15 MNOK and partner co-funding of 26 MNOK which 
          was spent on activities carried out by national e-infrastructure provider organisations and university partners. NeIC provides
          the funding for all of the project managers and matches the institutional contributions for project staff in each project at 
          the level of at least 50%.
       
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mission" style="background-image: url({% include baseurl %}/assets/images/our-vision-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VISION</h1>
      <p class="description">Become a global role model for cross-border<br/> sustainable e-infrastructure services.</p>
    </div>
  </div>
</section>

<section class="history">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="history-image"><img src="{% include baseurl %}/assets/images/history.png" alt="history" />
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <h2>OUR HISTORY</h2>
        <div class="read-more-block readless">
          <p>
            In 2002 the Joint Committee of the Nordic Natural Science Research
            Councils (NOS-N) supported a pilot project with the aim of establishing an
            inter-Nordic data grid test facility (NDGF). The purpose of the NDGF was to
            distribute computing infrastructure. After a two-year pilot period, the NDGF
            was given the mandate to propose a Nordic grid infrastructure and an
            organisation to manage and develop the grid for scientific computing in the
            Nordic countries. The NDGF was hosted by NORDUnet A/S.
          </p>
          <p>
            The NDGF pilot has since matured into the successful deployment of the
            first and only distributed Tier-1 service within the WLCG collaboration, and
            has served as a role model for regional collaboration.
          <p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-box">
  <div class="min-with-bg"></div>
  <div class="container">
    <div class="left-blue">
      <h2>STRATEGY AND FOCUS</h2>
     <img src="{% include baseurl %}/assets/images/NeIC_strategy_2020-2025.jpg" alt="Strategy 2020–2025" height="400" width="600">
      <a href="https://wiki.neic.no" class="btn with-border white-hover-btn">SEE OUR WIKI PAGE</a>
    </div>
    <div class="bg-min-max">
      <div class="right-blue">
        <h2>STRATEGIC OBJECTIVES</h2>

        <p>Beneficial collaborations are the principal way that NeIC brings together the needs, interests and resources to create e-infrastructure to support research excellence in the Nordic region.</p>

        <p>Nordic Influence is the effect that NeIC has in improving and advancing e-infrastructure for researchers and for society.</p>

        <p>Motivated People are essential in the collaborations and to bring the results into the research domains and society.</p>

        <p>Effective processes bind NeIC into an organization that is able to realize the benefits and influences that come from the collaborations.</p>
        
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="organisation">
  <div class="container">
    <div class="left-org">
      <h2>ORGANISATION</h2>
      <p>
        NeIC is a joint initiative between the Nordic countries, hosted by
        NordForsk since 1. January 2012. NordForsk appoints the NeIC Board based on
        nominations by the national e-infrastructure provider organisations. These
        strategic partner organisation are CSC (Finland), SNIC (Sweden), UNINETT Sigma2
        (Norway), DeIC (Denmark) and RH Net (Iceland). The NeIC Board consists of one
        representative from each of these.
      </p>
      <p>
        The NordForsk Board has delegated to the NeIC Board the authority to make strategic
        decisions regarding computing and data-storage infrastructure and react on upcoming
        opportunities. This includes allocating budget, implementing the organisation structure
        as well as prioritising and coordinating Nordic collaboration projects. The NeIC Board
        develops and maintains a strategy for NeIC. The NeIC Board recommends the NeIC Director
        to be appointed by NordForsk.
      </p>
      <p>
        NeIC is managed by an Executive Team chaired by the NeIC Director.
        Most of NeIC’s activities are organized in projects. The Executive Team
        coordinates the activities and participate in project steering groups as
        project owners.
      </p>
      <p>
        In collaboration with national eInfrastructure providers and
        user-community representatives, NeIC engages IT experts to participate in
        projects and operational activities. Projects are developed in accordance with
        the directions set out in the Nordic eScience Action Plan 2.0 (2015).
      </p>
    </div>
    <div class="right-org">
      <div class="image-block"><img src="{% include baseurl %}/assets/images/organisation.png" alt="organisation" /></div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="mission" style="background-image: url({% include baseurl %}/assets/images/our-values-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VALUES</h1>
      <p class="description">Open, reliable and continuously striving to<br/> improve in our work, we are motivated by<br/> adding value to research.</p>
    </div>
  </div>
</section>

<section class="current-pub">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="left-pub" style="background-image: url({% include baseurl %}/assets/images/publications.png);"></div>
        <div class="right-pub">
          <h2>Publications</h2>
          <ul class="pub-list">

            {% include noscript.html %}

            <span class="event-list" id="publications-list">
              <div v-for="(event, index) in publications">

                <!-- show only first three publications -->
                <div v-if="index < 3">
                  <li>
                    <h4 class="pub-title"><a :href="event.url" v-text="event.title.toUpperCase()"></a></h4>
                    <p class="pub-details" v-html="event.dates.start"></p>
                    <p class="description" v-html="event.blurb"></p>
                    <a class="read-more" :href="event.url">GO TO ARTICLE &raquo;</a>
                  </li>
                </div>

              </div>
            </span>

          </ul>
          <div class="btn-block">
            <a href="{% include baseurl %}/about/publications/" class="btn with-border white-hover-btn">SEE ALL</a>
            <a href="https://wiki.neic.no" class="btn with-border white-hover-btn">GO TO WIKI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
