<section class="single-pagebanner" style="background-image: url({{ site.baseurl }}/assets/images/about-banner.png);">
</section>

<section class="green-box-block-about">
  <div class="container">
    <div class="green-box">
      <div class="read-more-block closename">
        <h2>WHAT IS NEIC?</h2>
        <p>
          The Nordic e-Infrastructure Collaboration (NeIC) facilitates
          development and operation of high-quality e-Infrastructure solutions in areas
          of joint Nordic interest. NeIC is a distributed organisation consisting of
          technical experts from academic high-performance computing centres across the
          Nordic countries.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mission" style="background-image: url({{ site.baseurl }}/assets/images/our-vision-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VISION</h1>
      <p class="description">Become a global role model for cross-border<br/> sustainable e-infrastructure services.</p>
    </div>
  </div>
</section>

<section class="history">
  <div class="container">
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <div class="history-image"><img src="{{ site.baseurl }}/assets/images/history.png" alt="history" />
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="row">
        <h2>OUR HISTORY</h2>
        <div class="read-more-block readless">
          <p>
            In 2002 the Joint Committee of the Nordic Natural Science Research
            Councils (NOS-N) supported a pilot project with the aim of establishing an
            inter-Nordic data grid test facility (NDGF). The purpose of the NDGF was to
            distribute computing infrastructure. After a two-year pilot period, the NDGF
            was given the mandate to propose a Nordic grid infrastructure and an
            organisation to manage and develop the grid for scientific computing in the
            Nordic countries. The NDGF was hosted by NORDUnet A/S.
          </p>
          <p>
            The NDGF pilot has since matured into the successful deployment of the
            first and only distributed Tier-1 service within the WLCG collaboration, and
            has served as a role model for regional collaboration.
          <p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-box">
  <div class="min-with-bg"></div>
  <div class="container">
    <div class="left-blue">
      <h2>STRATEGY AND FOCUS</h2>
      <p>
        Enhance the productivity of researchers in the Nordic region beyond
        national efforts through new services, pooling competencies and sharing
        the resources of national e-infrastructure providers.
      </p>
      <p>
        Strengthen partnerships and prospects for long-term funding through
        active stakeholder dialogue to promote sustainable services.
      </p>
      <a href="https://wiki.neic.no" class="btn with-border white-hover-btn">SEE OUR WIKI PAGE</a>
    </div>
    <div class="bg-min-max">
      <div class="right-blue">
        <h2>FOCUS AREAS</h2>

        <h6>POOL COMPETENCES</h6>
        <ul>
          <li>Map skills, identify and prioritise needs</li>
          <li>Establish NeIC and cross-border training programmes</li>
          <li>Make NeIC more attractive to competent personnel</li>
        </ul>

        <h6>SHARE RESOURCES</h6>
        <ul>
          <li>Launch pilot projects to establish ambition levels</li>
          <li>Create framework agreement (scope, CPU/storage)</li>
          <li>Establish enabling processes and technologies</li>
        </ul>

        <h6>SECURE LONG-TERM FUNDING</h6>
        <ul>
          <li>Map funding sources, modalities and application mechanisms</li>
          <li>Agree on total funding and share from each funding source</li>
          <li>Adapt to unaligned funding periods</li>
        </ul>

        <h6>STRENGTHEN STAKEHOLDER DIALOGUE</h6>
        <ul>
          <li>Map stakeholders and partnerships</li>
          <li>Create engagement plan (frequency, means)</li>
          <li>Implement stakeholder and partnership monitoring (incl. surveys)</li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="organisation">
  <div class="container">
    <div class="left-org">
      <h2>ORGANISATION</h2>
      <p>
        NordForsk is the host organisation for NeIC. The NordForsk Board has
        delegated responsibility for strategic decisions regarding computing and
        data-storage infrastructure and reaction to upcoming opportunities to the NeIC
        Board. The NeIC Board reports to the NordForsk Board and to the boards of the
        national eInfrastructure organisations on an annual basis.
      </p>
      <p>
        NeIC is managed by an Executive Team chaired by the NeIC Director.
        Most of NeIC’s activities are organized in projects. The Executive Team
        coordinates the activities and participate in project steering groups as
        project owners.
      </p>
      <p>
        In collaboration with national eInfrastructure providers and
        user-community representatives, NeIC engages IT experts to participate in
        projects and operational activities. Projects are developed in accordance with
        the directions set out in the Nordic eScience Action Plan 2.0 (2015).
      </p>
    </div>
    <div class="right-org">
      <div class="image-block"><img src="{{ site.baseurl }}/assets/images/organisation.png" alt="organisation" /></div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="mission" style="background-image: url({{ site.baseurl }}/assets/images/our-values-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR VALUES</h1>
      <p class="description">Open, reliable and continuously striving to<br/> improve in our work, we are motivated by<br/> adding value to research.</p>
    </div>
  </div>
</section>

<section class="current-pub">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="left-pub" style="background-image: url({{ site.baseurl }}/assets/images/publications.png);"></div>
        <div class="right-pub">
          <h2>Publications</h2>
          <ul class="pub-list">

            <li>
              <h4 class="pub-title"><a href="#">NEIC ACHIEVEMENTS 2016</a></h4>
              <p class="pub-details">MARCH 15 2017</p>
              <p class="description">NeIC achievements during 2016.</p>
              <a class="read-more" href="#">GO TO ARTICLE &raquo;</a>
            </li>

            <li>
              <h4 class="pub-title"><a href="#">INVESTIGATING OPTIONS FOR FUTURE NORDIC WLCG TIER-1 OPERATIONS</a></h4>
              <p class="pub-details">MARCH 15 2017</p>
              <p class="description">The results of a cost-efficiency study for the current configuration, and of other possible configurations, of the Nordic WLCG Tier-1 (NDGF-T1), as well as some guidelines to improve its computing operations.</p>
              <a class="read-more" href="#">GO TO ARTICLE &raquo;</a>
            </li>

          </ul>
          <div class="btn-block">
            <a href="{{ site.baseurl }}/about/publications/" class="btn with-border white-hover-btn">SEE ALL</a>
            <a href="https://wiki.neic.no" class="btn with-border white-hover-btn">GO TO WIKI</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
