<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      {{ content }}

      <h2>Activities</h2>
      <ul>
        {% for activity in site.activities %}
          {% if activity.finished %}{% continue %}{% endif %}
          <li><a href="{{ site.baseurl }}{{ activity.url }}">{{ activity.name }}</a></li>
        {% endfor %}
      </ul>
      <h3>Past</h3>
      <ul>
        {% for activity in site.activities %}
          {% unless activity.finished %}{% continue %}{% endunless %}
          <li><a href="{{ site.baseurl }}{{ activity.url }}">{{ activity.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
