{% assign this_activity = page.path | replace: '_activities/', ''  | replace: '.md', '' %}

<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      <h2>{{ page.name }}</h2>

      {{ page.content | markdownify }}

      {% assign homeurl = "https://wiki.neic.no/wiki/" | append: page.name %}
      <p><a href="{{ page.homeurl | default: homeurl }}">More information</a></p>

      {% for group in page.groups %}
        <h3>{{ group[1].name }}</h3>
        {% if group[1].description %}<p>{{ group[1].description }}</p>{% endif %}
        <ul>
          {% for person in site.people %}
            {% for person_group in person.groups %}
              {% if person_group[0] == group[0] %}
                <li>
                  <a href="{{ site.baseurl }}{{ person.url }}">{{ person.name }}</a>,
                  {{ person.country_code }}{% if person_group[1].role %},
                    {{ person_group[1].role }}
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
