<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/test_banner.png);">
</section>

<section class="activities">
      <div class="container">
              <div class="row" style="position: relative">
              	<div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>TEST</h2>
		      <p>
                        Just a test. 
                      </p>
                      </div>
              </div>
     
              </div>
      </div>
</section>
