<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/banner_test.png);">
</section>

<section class="affiliate">
	<div class=glider.contain>
	  	<div class="glider">
			<div>your content here</div>
    			<div>your content here</div>
    			<div>your content here</div>
    			<div>your content here</div>
		</div>
	<button role="button" aria-label="Previous" class="glider-prev">«</button>
  <button role="button" aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>
	</div>
</section>

<section class="affiliate">
      <div class="container">
              <div class="row" style="position: relative">
              	<div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>NeIC Affiliate Programme</h2>
		      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      </div>
              </div>
     
              </div>
      </div>
</section>
