<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/banner.png);">
</section>

<section class="activities">
      <div class="container">
              <div class="row" style="position: relative">
              <div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>TEST</h2>
		      <p>
                        Just a test. 
                      </p>
                      </div>
              </div>
              <div class="col-md-5">

                      <ul class="linl-list">
                        {% for activity in site.activities %}
                          {% if activity.finished %}{% continue %}{% endif %}
                          <li><a href="{% include baseurl %}{{ activity.url }}">{{ activity.name }}</a></li>
                        {% endfor %}
                      </ul>
              </div>
              </div>

      </div>
</section>
