<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/affiliates-banner.jpg);">
</section>



<section class="affiliate">
      <div class="container">
              <div class="row" style="position: relative">
              <div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>NeIC Affiliate programme</h2>
		      <p>
                        The NeIC Affiliate programme is meant to enhance the benefits and impacts of NeIC projects after they have been completed. All concluded NeIC projects and activities are eligible to participate, advertise their highlights on the Affiliate website and apply annually for NeIC financial support.<br>
			      <br> More information on the Affiliate programme: neic-affiliate at neic.no.
                      </p>
                      </div>
              </div>
              <div class="col-md-5">

                      <ul class="linl-list">
			<li>	<a href="{% include baseurl %}/affiliate-B2share/" class="btn with-border">B2Share Nordic</a>	</li>
 			<li>	<a href="{% include baseurl %}/affiliate-deepdive/" class="btn with-border">DeepDive</a>	</li>
			<li>	<a href="{% include baseurl %}/affiliate-nlpl/" class="btn with-border">NLPL</a>	</li>
			<li>	<a href="{% include baseurl %}/affiliate-ratatosk/" class="btn with-border">Ratatosk</a>	</li>
	       		<li>	<a href="{% include baseurl %}/affiliate-SGAS/" class="btn with-border">SGAS</a>	</li>
                    
                      </ul>
              </div>
              </div>

      </div>
</section>
