<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/affiliates-banner.jpg);">
</section>

<section class="affiliate">
      <div class="container">
              <div class="row" style="position: relative">
              <div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>NeIC Affiliate programme</h2>
		      <p>
                        The NeIC Affiliate Programme enhances the benefits and impacts of NeIC projects after they have been completed. All concluded NeIC projects and activities are eligible to participate, advertise their highlights on the Affiliate website and apply annually for NeIC financial support.<br>      
			      This financial support is aimed at supporting the benefit realisation.
			</p>
			
			<h4>	1 year Results-transfer period </h4>
			      <br>In addition, selected projects will receive funding for a one year Results-transfer period facilitated by NeIC. Results-transfer period starts immediately after the completion of the project.<br>
			<br> More information on the Affiliate Programme: neic-affiliate at neic.no.
                      </p>
                      </div>
                </div>
                <div class="col-md-5">

                        <ul class="linl-list">
                        {% for affiliate in site.affiliates %}
                          {% if affiliate.finished %}{% continue %}{% endif %}
                          {% if affiliate.hide-on-frontpage %}{% continue %}{% endif %}
                          <li><a href="{% include baseurl %}{{ affiliate.url }}">{{ affiliate.name }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
                </div>
        </div>
</section>
