<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/affiliate-banner.jpg);">
</section>

<section class="affiliate">
  <div class="container">
       <div class="btn-block">
      		<a href="{% include baseurl %}/affiliate/affiliate-nlpl/" class="btn with-border black-hover-btn">NLPL</a>
	       <a href="{% include baseurl %}/affiliate/affiliate-nicest/" class="btn with-border black-hover-btn">NICEST</a>
	       <a href="{% include baseurl %}/affiliate/affiliate-deepdive/" class="btn with-border black-hover-btn">Deepdive</a>
	       <a href="{% include baseurl %}/affiliate/affiliate-SGAS/" class="btn with-border black-hover-btn">SGAS</a>
	       <a href="{% include baseurl %}/affiliate/affiliate-B2share/" class="btn with-border black-hover-btn">B2Share Nordic</a>
    </div>
  </div>
</section>


<section class="affiliate">
      <div class="container">
              <div class="row" style="position: relative">
              <div class="col-md-7" style="position: static;">
                      <div class="content">
                      <h2>NeIC Affiliate programme</h2>
		      <p>
                        <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</i>
                      </p>
                      </div>
              </div>
              <div class="col-md-5">

                      <ul class="linl-list">

                <li>	<a href="{% include baseurl %}/affiliate/affiliate-nlpl/" class="btn with-border">NLPL</a>	</li>
	       <li>	<a href="{% include baseurl %}/affiliate/affiliate-nicest/" class="btn with-border">NICEST</a>	</li>
	       <li>	<a href="{% include baseurl %}/affiliate/affiliate-deepdive/" class="btn with-border">Deepdive</a>	</li>
	       <li>	<a href="{% include baseurl %}/affiliate/affiliate-SGAS/" class="btn with-border">SGAS</a>	</li>
	       <li>	<a href="{% include baseurl %}/affiliate/affiliate-B2share/" class="btn with-border">B2Share Nordic</a>	</li>
                    
                      </ul>
              </div>
              </div>

      </div>
</section>
