<section class="single-pagebanner" style="background-image: url({{ site.baseurl }}/assets/images/api-banner.png);">
</section>
<section class="api-section">
      <div class="container">
    <div class="row">
              <div class="col-md-7">
                      {{ content }}
              </div>
              <div class="col-md-5">
                      <h2>Versions</h2>
                      <h5>API v1.0</h5>
                      <p class="no-space"><span class="color"><a href="{{ site.baseurl }}/api/1.0/activities.json">activities.json</a></span> - Informaton on NeIC activities in JSON format</p>
                      <p class="no-space"><span class="color"><a href="{{ site.baseurl }}/api/1.0/people.json">people.json</a></span> - Informaton on people involved with NeIC in JSON format</p>
              </div>
    </div>
      </div>
</section>
