<section class="single-pagebanner" style="background-image: url(/assets/images/training-banner.png);">
</section>

<section class="green-box-block">
  <div class="container">
    <div class="green-box">
      <h2>COURSE MOBILITY</h2>
	    <p>The open call for course mobility proposals is part of the<br /><a href="/ratatosk" class="btn white-hover-btn">Ratatosk</a><br />Mobility Enhancement Programme.</p>
      </div>
  </div>
</section>

<section class="training">
  <div class="container">
    <h3>Open Call for Course Mobility Proposals</h3>
	<p>More information coming here soon.</p>
  </div>
</section>
