<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/services-banner.jpg);">
</section>

<section class="services">
      <div class="container">
          <div class="row" style="position: relative">
              <div class="col-md-12" style="position: static;">
                  <div class="content">
                      <h2>EOSC Rules of participation</h2>
                      <p>EOSC-hub current criteria
<ul>
<li>It must be an actual service
      <ul>
            <li>It must be a service according to the IT Service Management definition [2]. It should be an ongoing activity offered ‘live’ to customers. This may be an IT service, or a human service (e.g. training, consultancy).</li>
            <li>It may not be a research product, for instance, a document, a dataset or a piece of software.</li>
      </ul>
      </li>
<li>The Service must be coherent. It must be available and offer value on its own. It may not be only a feature of a larger service.
<li>The Service must meet at least one of the following criteria:
      <ul>
            <li>The Service must be targeted to the research community.</li>
            <li>The Service must be provided by the research community.</li>
            <li>The Service comes from an EOSC related H2020 funded project.</li>
            <li>The Service is part of a procurement framework targeting researchers.</li>
      </ul>
      </li>
<li>The Service must be both available in Europe and available in a European language. See <a href="https://europa.eu/european-union/about-eu/eu-languages_en">https://europa.eu/european-union/about-eu/eu-languages_en<a>.</li>
<li>The required fields in the Service Description Template must be filled, including required linked information.
      <ul>
            <li>URLs must be Fully Qualified Domain Names (FQDN)</li>
      </ul>
      </li>
<li>The provider must agree to periodically update their data to keep it current (to be covered in Provider agreement, TBC)</li>
<li>Key information must be in English
      <ul>
            <li>The SDT must be in English</li>
            <li>The basic information in the User Interface for the service must be available in English.</li>
            <li>Privacy statements, terms of use and SLA/SLS must be available in English. Other documentation may be in native language only.</li>
            <li>The Helpdesk must be able to answer queries in English at a minimum.</li>
      </ul>
      </li>
   </ul>
     
   <br>
Definition according to FitSM-0 -Service: Way to provide value to customers through bringing about results that they want to achieve Note: In the context of the FitSM standard series, when referring to services, usually IT services are meant. From <a href="https://www.fitsm.eu/download/280/">https://www.fitsm.eu/download/280/</a>.
</p>
                  </div>
              </div>
          </div>
      </div>
</section>
