{% comment %}
<section class="cookies">
  <div class="container">
    <div class="col-md-10">
      <div class="row"><p>NeIC uses cookies to give you the best experience on our website.</p></div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <a href="#" class="cookies-ok white-hover-btn">OK</a>
      </div>
    </div>
  </div>
</section>
{% endcomment %}

<footer>
  <div class="container">
    <div class="col-md-6 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <h4>VISITING ADDRESS</h4>
            <p>NeIC</p>
            <p>c/o NordForsk</p>
            <p>Stensberggata 27</p>
            <p>NO-0170 Oslo</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <h4>POSTAL ADDRESS</h4>
            <p>NeIC</p>
            <p>c/o NordForsk</p>
            <p>Stensberggata 25</p>
            <p>NO-0170 Oslo</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <h4>CONTACT US</h4>
            <p><a href="tel:4747614400">+47 476 14 400</a></p>
            <p><a href="mailto:kine.halvorsen@nordforsk.org">kine.halvorsen@nordforsk.org</a></p>
            <p><a href="mailto:gudmund.host@nordforsk.org">gudmund.host@nordforsk.org</a></p>
            <p><a href="https://nordforsk.us2.list-manage.com/subscribe?u=8ed6dd23b9e3ff6ee0e135d72&id=4fc427a88a">Sign up for our newsletter</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-4">
      <div class="row">
        <div class="footer-img">
          <a href="https://www.nordforsk.org"><img src="{% include baseurl %}/assets/images/footer-logo.png" alt="footer" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; NeIC 2020
  </div>
</footer>
