<header>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="navbar-header logo">
          <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Logo" /></a>
        </div>
        <div id="menu">
          <a class="menu right-side collapsed" data-parent="#menu" data-toggle="collapse" href="#mainmenu"><span>Menu</span></a>
          <div id="mainmenu" class="panel-collapse collapse" role="tabpanel">
            <div class="sub-menu-block panel-body">
              <div class="panel-group" id="sub-menu" role="tablist" aria-multiselectable="true">

                {% for item in site.data.nav.main %}
                  {% if item.section %}
                    <div role="tab" id="sub-menu-h{{ forloop.index }}">
                      <a role="button"
                         class="sub-menu-item collapsed"
                         data-toggle="collapse"
                         data-parent="#sub-menu"
                         href="#sub-menu{{ forloop.index }}"
                         aria-expanded="true"
                         aria-controls="sub-menu{{ forloop.index }}">
                        {{ item.section }}
                      </a>
                    </div>
                    <div id="sub-menu{{ forloop.index }}"
                         class="panel-collapse collapse"
                         role="tabpanel"
                         aria-labelledby="sub-menu-h{{ forloop.index }}">
                      <ul class="sub-menu-list">
                        {% for i in item.links %}
                          <li><a href="{{ i.url }}">{{ i.text }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <a href="{{ item.url }}" class="sub-menu-item no-collapse">
                      {{ item.text }}
                    </a>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
