<section class="banner">
  <a class="learn-more-link smooth" href="#about">Learn more</a>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row" style="position: relative">
      <div class="col-md-7" style="position: static;">
        <div class="content">
          <h2>About Us</h2>
          <p>
            The Nordic e-Infrastructure Collaboration (NeIC) facilitates development and operation of high-quality
            e-infrastructure solutions in areas of joint Nordic interest.
          </p>
          <a href="{% include baseurl %}/about/" class="read-more white-hover-btn">Read More</a>
        </div>
<div class="content">
	<h2>Services</h2>
		<a href="{% include baseurl %}/services/" class="read-more white-hover-btn">Nordic e-Infrastructure Services</a>
        </div>
        <div class="content">
          <h2>Affiliates</h2>
          <p>
            The NeIC Affiliate programme is meant to enhance the benefits and impacts of NeIC projects after they have been completed.
          </p>
          <a href="{% include baseurl %}/affiliates/" class="read-more white-hover-btn">Read More</a>
        </div>
      </div>

      <div class="col-md-5">
        <h2>ACTIVITIES</h2>
        <ul class="linl-list">
          {% for activity in site.activities %}
            {% unless activity.finished or activity.hide-on-frontpage %}
              <li><a href="{% include baseurl %}{{ activity.url }}">{{ activity.name }}</a></li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="current-events">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="event-wrap">
          <div class="right-event" style="background-image: url({% include baseurl %}/assets/images/waves.svg);">
          </div>
          <div class="left-event">

            {% include noscript.html %}

            <h2>EVENTS AND OPPORTUNITIES</h2>
            <ul class="event-list">
              <span id="calendar-events-list">
                <div v-for="(event, index) in events">
                  <div v-if="index < 3">
                    <li>
                      <h4 class="event-title"><a :href="event.url" v-text="event.title.toUpperCase()" target="_blank"></a></h4>
                      <p class="event-details">
                        <span v-html="event.dates.start + (event.dates.end ? ' &ndash; ' + event.dates.end : '')"></span>
                        <a class="anchorjs-link calendar-link"
                           :href="event.calendarUrl"
                           :aria-label="'Calendar link for: ' + event.title.toLowerCase()"
                           data-anchorjs-icon="📅"
			   target="_blank">
                        </a>
                      </p>
                      <p class="description" v-html="event.blurb"></p>
                      <div class="read-more-block readless">
                        <p class="details" v-html="event.details"></p>
                      </div>
                    </li>
                  </div>
                </div>
              </span>
            </ul>
            <p><a class="more-events" href="events">More events and Opportunities&raquo;</a><p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mission" style="background-image: url({% include baseurl %}/assets/images/our-mission-bg.png);">
  <div class="container">
    <div class="mission-data">
      <h1 class="om-head">OUR MISSION:</h1>
      <p class="description">Development of best-in-class e-infrastructure services beyond national capabilities.</p>
    </div>
  </div>
</section>

<section class="latest-news">
  <div class="container">
    <h2>LATEST NEWS</h2>

    {% comment %}
    <div class="description-block">
      <p>
        Mauris mauris nunc, condimentum eget quam sit amet, ullamcorper sodales
        augue. Suspendisse sodales felis quam. Quisque mauris nisl, dignissim et dolor
        vel.
      </p>
    </div>
    {% endcomment %}

    {% assign left_news = true %}
    {% for post in site.posts %}
      {% if forloop.index < 4 %}
        {% if left_news %}
          <div class="left-news">
          {% assign left_news = false %}
        {% else %}
          <div class="right-news">
          {% assign left_news = true %}
        {% endif %}
          <div class="desktop news-bg" style="background-image: url({% include baseurl %}{{ post.photo }});">
          </div>
          <div class="mob news-bg" style="background-image: url({% include baseurl %}{{ post.photo }});">
          </div>
          <div class="lite-white-bg">
            <h4><a href="{% include baseurl %}{{ post.url }}">{{ post.title }}</a></h4>
            <p class="date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="description">{{ post.summary }}</p>
            <a href="{% include baseurl %}{{ post.url }}" class="btn">read more &raquo;</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <a class="see-more-news black-hover-btn" href="{% include baseurl %}/news/">See more News</a>
  </div>
</section>
