<section class="latest-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h2>LATEST NEWS</h2>
          <div class="news-list-block">

            {% for post in site.posts %}
              <div class="single-news-list">
                {% if post.photo %}
                  <a href="{{ post.url }}">
                    <div class="img-block" style="background-image: url({{ post.photo }});"></div>
                  </a>
                {% endif %}
                <div class="news-details">
                  <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                  <h6>{{ post.date | date: "%Y-%m-%d" }}</h6>
                  <p>{{ post.summary }}</p>
                  <a href="{{ post.url }}" class="btn">read more &raquo;</a>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
