<section class="single-pagebanner" style="background-image: url(/assets/images/position-banner.png);">
</section>

<section class="green-box-block">
      <div class="container">
              <div class="green-box">
      <h2>OPEN POSITIONS</h2>
      <p>NeIC is seeking a Project Manager for DeepDive, a project on e-infrastructures for biodiversity informatics. We encourage both current NeIC staff and new candidates to apply. DeepDive is a three-year long project and is now entering execution phase. 
             <p>You can find the announcement here: http://bit.ly/2hQxRNY

            <br/>Feel free to contact us if you have any questions.</p>
      <a href="/contact/" class="btn white-hover-btn">Contact Us</a>

    </div>
      </div>
</section>
