<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/position-banner.png);">
</section>

<section class="green-box-block">
      <div class="container">
              <div class="green-box">
      <h2>OPEN POSITIONS</h2>
            
 <p>                    
      </br> NeIC usually engages staff through service contracts with our partners and, in some cases, on individual basis. Contracts are typically on 20-80% commitment level for 2-4 year increments. We generally engage technical experts and managers for our projects, and look for a broader set of competencies for our Executive team. Candidates often have interest in employment with one of our partners which are the national e-Infrastructure organizations in the Nordic countries and Estonia. We have in the past been able to find workable arrangements for some of these cases. Our working language is English.<br/>
      <b>If you believe you could be a future candidate for us, please submit your CV to gudmund.host@nordforsk.org</b>. <br/> 

      <br/><p>We are currently looking for two new project managers: one for the ongoing NICEST2 project and one for a new project, Nordic Microdata Database. Read more below.
        <br/><a href="{% include baseurl %}/news/2022/08/23/nicest2-manager/" class="btn white-hover-btn">NICEST2 Manager</a>
        <a href="{% include baseurl %}/news/2022/08/29/manager-for-nordic-microdata-database/" class="btn white-hover-btn">Nordic Microdata Database manager</a></p>

          <br/><p>If you are interested in knowing more about how it is like to work at NeIC, please have a look at the NeIC Culture Book.
       <br/><a href="https://wiki.neic.no/wiki/NeIC_culture" class="btn white-hover-btn">NeIC Culture Book</a></p>

            <br/><p> Feel free to contact us if you have any questions!
            </br><a href="{% include baseurl %}/contact/" class="btn white-hover-btn">Contact Us</a></p>

    </div>
      </div>
</section>
