<section class="single-pagebanner" style="background-image: url(/assets/images/position-banner.png);">
</section>

<section class="green-box-block">
      <div class="container">
              <div class="green-box">
      <h2>OPEN POSITIONS</h2>
      <p>- Communications Officer
            <br/><a href="https://wiki.neic.no/w/ext/img_auth.php/1/14/170914-Open-position-announcement-Communications_Officer.docx.pdf"class="btn">More information here</a>
            
 <p>
            <br/>If you are interested in knowing more about how it is like to work at NeIC, please have a look at the NeIC Culture Book
       <br/><a href="https://wiki.neic.no/wiki/NeIC_culture" class="btn">NeIC Culture Book</a> <p><br/> Feel free to contact us if you have any questions.</p>
      <a href="{% include baseurl %}/contact/" class="btn white-hover-btn">Contact Us</a>

    </div>
      </div>
</section>
