<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      {{ content }}

      <h2>People</h2>
      {{ site.people | size }} people.
      {% assign previous = '' %}
      <ul>
        {% assign sorted = site.people | sort: 'country'%}
        {% for person in sorted %}
          {% unless person.country == previous %}
            {% assign previous = person.country %}
            <h5>{{ previous }}</h5>
          {% endunless %}
          <li><a href="{{ site.baseurl }}{{ person.url }}">{{ person.name }}</a> - {{ person.home }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
