<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      {{ content }}

      <h2>People</h2>
      {{ site.people | size }} people.
      {% assign currentletter = '' %}
      <ul>
        {% for person in site.people %}
          {% assign firstletter = person.name | slice: 0 %}
          {% unless firstletter == currentletter %}
            {% assign currentletter = firstletter %}
            <h5>{{ firstletter }}</h5>
          {% endunless %}
          <li><a href="{{ site.baseurl }}{{ person.url }}">{{ person.name }}</a>, {{ person.country }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
