{% assign people_with_country = site.people | where: "country", "" %}
{% if people_with_country.size > 0 %}
  <!-- Shows the people that might be missing 'country' -->
{% endif %}
{% assign active_groups = "" %}
{% for activity in site.activities %}
  {% unless activity.finished %}
    {% for group in activity.groups %}
      {% assign active_groups = active_groups | append: group[0] | append: ',' %}
    {% endfor %}
  {% endunless %}
{% endfor %}
<section class="contact">
<!--	
  <div id="map"></div>
  <script>
    var map;
    function initMap() {
       var myLatLng = {lat: 60.178307621997085, lng: 24.832767535549877};
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 17,
        zoomControl: false,
        scaleControl: false,
        scrollwheel: false,
        streetViewControl: false,
        mapTypeControl: false,
        styles: [{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"},{"hue":"#ff0000"}]}]

      });
       var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
  -->
	<div class="map-placeholder text-center py-5 my-4 border rounded bg-light">
  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#6c757d" class="mb-3" viewBox="0 0 16 16">
    <path d="M8 0a5 5 0 0 0-5 5c0 4.25 5 11 5 11s5-6.75 5-11a5 5 0 0 0-5-5zM8 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
  </svg>
  <h5 class="text-muted mb-1">Map temporarily unavailable</h5>
  <p class="text-secondary small mb-0">We’re updating our Google Maps integration. Please check back later.</p>
</div>
  <div class="contact-map-box">
    <div class="container">
      <div class="col-md-9">
        <div class="row">
          <div class="address">KEILARANTA 14, ESPOO</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <a href="https://maps.app.goo.gl/PrFEPgediXxxRrWi9" class="map-btn white-hover-btn">Go to map</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="contact-details-block">
      <h2>NEIC TEAM AND CONTACT</h2>
      <p>
        We are a distributed organisation consisting of administration,
        technical experts,
        researchers, application experts, and e-scientists,
        working at university IT-centers, and national
        e-infrastructure centers in the Nordics.
      </p>

         <div class="container">
	
      <div class="image-block"><img src="{% include baseurl %}/assets/images/260202-Orgchart.jpeg" alt="NeIC organisation" />
    </div> 
    </div>
    <div class="team">

  <div class="team-nav-bar">
    <div class="left-bar">
      <p class="c-head">The Team</p>
    </div>

    <div class="right-bar">
      <label for="people-filter">Filter by:</label>
      <select id="people-filter" class="form-control custom">
        <option value="all">Everybody</option>
        <option value="staff">Staff</option>
        <option value="former">Former staff</option>
      </select>
    </div>

    <div class="clearfix"></div>
  </div>

  {% include noscript.html %}

  <div class="team-list-block">
    <div class="team-columns">
      <ul>
        {% assign previous_country = "" %}
        {% assign people_sorted = site.people | sort: "name" | sort: "country" %}

        {% for person in people_sorted %}
          {% unless person.country == previous_country %}
            {% assign previous_country = person.country %}
            <h4>{{ person.country }}</h4>
          {% endunless %}

          <li
            data-staff="{{ person.on_contract }}"
            data-former="{{ person.has_been_on_contract }}"
          >
            <div class="left-text">
              {% if person.url %}
                <a href="{{ person.url | relative_url }}">{{ person.name }}</a>
              {% else %}
                {{ person.name }}
              {% endif %}
            </div>
            <div class="right-text">
              {{ person.home }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
          <div class="clearfix"></div>
        </div>

	{% include noscript.html %}
	<div class="team-list-block">
  <div class="team-columns">
        <ul>
          {% assign previous_country = "" %}
          {% assign country_count = 0 %}
          {% assign people_sorted = site.people | sort: "name" | sort: "country" %}

          {% for person in people_sorted %}
            {% unless person.country == previous_country %}
              {% assign previous_country = person.country %}
              {% assign country_count = country_count | plus: 1 %}

              {% if country_count == 4 %}
              {% endif %}

              <h4>{{ person.country }}</h4>
            {% endunless %}

            <li
  			data-staff="{{ person.on_contract }}"
  			data-former="{{ person.has_been_on_contract }}"
				>
              <div class="left-text">
                {% if person.url %}
                  <a href="{{ person.url | relative_url }}">{{ person.name }}</a>
                {% else %}
                  {{ person.name }}
                {% endif %}
              </div>
              <div class="right-text">
                {{ person.home }}
              </div>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>

  </div>
</div>
	  
{% comment %}
        <!-- only displayed before compiling -->
        <span class="v-cloak--inline">loading data ...</span>

        <!-- hidden until compiling is finished -->
        <span class="v-cloak--hidden">
          <div class="team-list-block">

            <div v-if="people_filter === 'Staff'">
              <div class="col-md-6">
                <div class="row">
                  <div class="left-team">
                    {% assign previous_country = '' %}
                    {% assign num_countries = 0 %}
                    <ul>
                      {% for person in people_sorted_by_country %}
                        {% if person.on_contract %}
                          {% assign active = false %}
                          {% for group in person.groups %}
                            {% if group[1].finished %}{% continue %}{% endif%}
                            {% if active_groups contains group[0] %}
                              {% assign active = true %}
                            {% endif %}
                          {% endfor %}
                          {% unless active %}{% continue %}{% endunless %}
                          {% unless person.country == previous_country %}
                            {% assign previous_country = person.country %}

                              {% assign num_countries = num_countries | plus: 1 %}
                              {% if num_countries == 4 %}  <!-- we need to break the column, hardcoded to put 3 countries "left* -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="right-team">
                              {% endif %}

                            <h4>{{ previous_country }}</h4>
                          {% endunless %}
                          <li><div class="left-text"><a href="{% include baseurl %}{{ person.url }}">{{ person.name }}</a></div><div class="right-text">{{ person.home }}</div></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="people_filter === 'All involved'">
              <div class="col-md-6">
                <div class="row">
                  <div class="left-team">
                    {% assign previous_country = '' %}
                    {% assign num_countries = 0 %}
                    <ul>
                      {% for person in people_sorted_by_country %}
                        {% assign active = false %}
                        {% for group in person.groups %}
                          {% if group[1].finished %}{% continue %}{% endif%}
                          {% if active_groups contains group[0] %}
                            {% assign active = true %}
                          {% endif %}
                        {% endfor %}
                        {% unless active %}{% continue %}{% endunless %}
                        {% unless person.country == previous_country %}
                          {% assign previous_country = person.country %}

                            {% assign num_countries = num_countries | plus: 1 %}
                            {% if num_countries == 6 %}  <!-- we need to break the column, hardcoded to put 3 countries "left* -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="right-team">
                              {% endif %}

                            <h4>{{ previous_country }}</h4>
                        {% endunless %}
                          <li><div class="left-text"><a href="{% include baseurl %}{{ person.url }}">{{ person.name }}</a></div><div class="right-text">{{ person.home }}</div></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="people_filter === 'Everybody'">
              <div class="col-md-6">
                <div class="row">
                  <div class="left-team">
                    {% assign previous_country = '' %}
                    {% assign num_countries = 0 %}
                    <ul>
                      {% for person in people_sorted_by_country %}
                          {% unless person.country == previous_country %}
                            {% assign previous_country = person.country %}

                              {% assign num_countries = num_countries | plus: 1 %}
                              {% if num_countries == 6 %}  <!-- we need to break the column, hardcoded to put 5 countries "left* -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="right-team">
                              {% endif %}

                            <h4>{{ previous_country }}</h4>
                          {% endunless %}
                          <li><div class="left-text"><a href="{% include baseurl %}{{ person.url }}">{{ person.name }}</a></div><div class="right-text">{{ person.home }}</div></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="people_filter === 'Former staff'">
              <div class="col-md-6">
                <div class="row">
                  <div class="left-team">
                    {% assign previous_country = '' %}
                    {% assign num_countries = 0 %}
                    <ul>
                      {% for person in people_sorted_by_country %}
                          {% unless person.has_been_on_contract %}{% continue %}{% endunless %}
                          {% assign active = false %}
                          {% for group in person.groups %}
                            {% if group[1].finished %}{% continue %}{% endif%}
                            {% if active_groups contains group[0] %}
                              {% assign active = true %}
                            {% endif %}
                          {% endfor %}
                          {% if active %}{% continue %}{% endif %}
                          {% unless person.country == previous_country %}
                            {% assign previous_country = person.country %}
                              {% assign num_countries = num_countries | plus: 1 %}
                              {% if num_countries == 6 %}  <!-- we need to break the column, hardcoded to put 5 countries "left* -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="right-team">
                              {% endif %}

                            <h4>{{ previous_country }}</h4>
                          {% endunless %}
                          <li><div class="left-text"><a href="{% include baseurl %}{{ person.url }}">{{ person.name }}</a></div><div class="right-text">{{ person.home }}</div></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
          
			  
            <div class="clearfix"></div>
            </div>
          </div>
        </span>  </div> 
	{% endcomment %}

      </div>
  </div>
</section>
<script>
  const filter = document.getElementById("people-filter");

  filter.addEventListener("change", () => {
    const value = filter.value;
    document.querySelectorAll(".team-list-block li").forEach(li => {
      if (value === "all") {
        li.style.display = "";
      } else if (value === "staff") {
        li.style.display = li.dataset.staff === "true" ? "" : "none";
      } else if (value === "former") {
        li.style.display = li.dataset.former === "true" ? "" : "none";
      }
    });
  });
</script>
