{% assign person_path = page.path | replace:'_people/',''  | replace:'.md','' %}

<section class="contact">
  <div class="container">
    <div class="team">
      <div class="team-nav-bar">
        <div class="left-bar"><a href="{% include baseurl %}/people/" class="back-btn">Back to all</a></div>
        <div class="clearfix"></div>
      </div>
      <div class="contact-person">
        {% if page.photo %}
          <div class="contact-photo">
            <img src="{% include baseurl %}/{{ page.photo }}" alt="{{ page.name }}" style="width: 100%; max-width: 300px;">
          </div>
        {% endif %}
        <div class="contact-person-data">

          <p class="name">
            {{ page.name | default:page.title }}
          </p>

          <p class="location">
            {{ page.home }}
            {% if page.country == 'DK' %}
              Denmark
            {% elsif page.country == 'EE' %}
              Estonia
            {% elsif page.country == 'ES' %}
              Spain
            {% elsif page.country == 'FI' %}
              Finland
            {% elsif page.country == 'FR' %}
              France
            {% elsif page.country == 'IS' %}
              Iceland
            {% elsif page.country == 'JP' %}
              Japan
            {% elsif page.country == 'NO' %}
              Norway
            {% elsif page.country == 'SE' %}
              Sweden
            {% elsif page.country == 'US' %}
              USA
            {% else %}
              {{ page.country }}
            {% endif %}
          </p>

          <p class="email">
            <a href="mailto:{{ page.email }}">{{ page.email }}</a>
          </p>

          {% if page.profile %}
            <p class="profile">
              Profile: <a href="{{ page.profile }}">{{ page.profile }}</a>
            </p>
          {% endif %}
          
          {% if page.orcid %}
            <p class="orcid">
              Persistent ID: <a href=":{{ page.orcid }}">{{ page.orcid }}</a>
            </p>
          {% endif %}
          
          {% if page.phone %}
            <p class="phone">
              <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
            </p>
          {% endif %}

          <p>
            {{ content }}
          </p>

          <hr>

          <p class="head">ENGAGEMENTS</p>
          {% assign previous_activity = '' %}
          {% for person_group in page.groups %}
            {% for activity in site.activities %}
              {% unless activity.finished %}
                {% unless person_group[1].finished %}
                  {% for activity_group in activity.groups %}
                    {% if activity_group[0] == person_group[0] %}
                      {% unless activity == previous_activity %}
                        {% assign previous_activity = activity %}
                        <p class="top"><a href="{% include baseurl %}{{ activity.url }}">{{ activity.name }}</a></p>
                      {% endunless %}
                      <p class="no-space">
                        <span>
                          {{ activity_group[1].name }}{% if person_group[1].role %}, {{ person_group[1].role }}{% endif %}
                        </span>
                      </p>
                    {% endif %}
                  {% endfor %}
                {% endunless %}
              {% endunless %}
            {% endfor %}
          {% endfor %}

          <p class="head-p">PAST ENGAGEMENTS</p>
          {% assign previous_activity = '' %}
          {% for person_group in page.groups %}
            {% for activity in site.activities %}
              {% if activity.finished or person_group[1].finished %}
                  {% for activity_group in activity.groups %}
                    {% if activity_group[0] == person_group[0] %}
                      {% unless activity == previous_activity %}
                        {% assign previous_activity = activity %}
                        <p class="top"><a href="{% include baseurl %}{{ activity.url }}">{{ activity.name }}</a></p>
                      {% endunless %}
                      <p class="no-space">
                        <span>
                          {{ activity_group[1].name }}{% if person_group[1].role %}, {{ person_group[1].role }}{% endif %}
                        </span>
                      </p>
                    {% endif %}
                  {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
