<div class="container mtb">
  <div class="row">
    <div class="col-lg-3">
      {% if page.photo %}
        <img src="{{ site.baseurl }}/{{ page.photo }}" alt="{{ page.name }}" style="width: 100%; max-width: 300px;">
      {% endif %}
    </div>

    <div class="col-lg-9">
      <h2>
        {{ page.name | default:page.title }}
      </h2>
      <h3>
        <div class="lowlight">
          <div>
            {{ page.home }}
            {% if page.country == 'DK' %}
              Denmark
            {% elsif page.country == 'EE' %}
              Estonia
            {% elsif page.country == 'ES' %}
              Spain
            {% elsif page.country == 'FI' %}
              Finland
            {% elsif page.country == 'IS' %}
              Iceland
            {% elsif page.country == 'NO' %}
              Norway
            {% elsif page.country == 'SE' %}
              Sweden
            {% elsif page.country == 'US' %}
              USA
            {% else %}
              {{ page.country }}
            {% endif %}
          </div>
        </div>
      </h3>
      <p><a href="mailto:{{ page.email }}">{{ page.email }}</a>{% if page.phone %}, <a href="tel:{{ page.phone }}">{{ page.phone }}</a>{% endif %}</p>
      <p>{{ content }}</p>

      {% assign person_path = page.path | replace:'_people/',''  | replace:'.md','' %}

      <h3>Engagements</h3>
      <ul>
        {% assign previous_activity = '' %}
        {% for person_group in page.groups %}
          {% for activity in site.activities %}
            {% for activity_group in activity.groups %}
              {% assign groupname = activity_group[0] %}
              {% if groupname == person_group[0] %}
                {% unless activity == previous_activity %}
                  {% if previous_activity %}</ul>{% endif %}
                  {% assign previous_activity = activity %}
                  <li><a href="{{ site.baseurl }}{{ activity.url }}">{{ activity.name }}</a><ul>
                {% endunless %}
                <li>{{ activity_group[1].name }}{% if person_group[1].role %}, {{ person_group[1].role }}{% endif %}</li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
      {% if page.past_engagements %}
        <h4>Past</h4>
        <ul>
          {% assign previous_activity = '' %}
          {% for person_group in page.past_engagements %}
            {% for activity in site.activities %}
              {% for activity_group in activity.groups %}
                {% assign groupname = activity_group[0] %}
                {% if groupname == person_group[0] %}
                  {% unless activity == previous_activity %}
                    {% if previous_activity %}</ul>{% endif %}
                    {% assign previous_activity = activity %}
                    <li><a href="{{ site.baseurl }}{{ activity.url }}">{{ activity.name }}</a><ul>
                  {% endunless %}
                  <li>{{ activity_group[1].name }}{% if person_group[1].role %}, {{ person_group[1].role }}{% endif %}</li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
