<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/pub-banner.png);">
</section>

<section class="publications">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="content">
          <h2> Publications </h2>
          <div class="publications-list-block">
          
            <h3>Annual reports</h3>
            <p><a href="https://wiki.neic.no/w/ext/img_auth.php/7/7a/Annual_Report_2022_Spreads.pdf">2022 Annual report </a><br>
            <a href="https://wiki.neic.no/w/ext/img_auth.php/9/9a/Annual_Report_2021_spreads.pdf">2021 Annual report </a><br>
            <a href="https://wiki.neic.no/w/ext/img_auth.php/c/c4/NeIC_annual_report_2020_spreads.pdf">2020 Annual report </a><br>
            <a href="https://wiki.neic.no/w/ext/img_auth.php/b/ba/NeIC_annual_report_2019_spreads_%282%29.pdf">2019 Annual report </a><br>
            <a href="https://wiki.neic.no/w/ext/img_auth.php/5/5e/Annual_Report_2018_spreads.pdf">2018 Annual report </a><br>
            <a href="https://wiki.neic.no/w/ext/img_auth.php/3/34/NeIC_Annual_Report_2017_3_spreads.pdf">2017 Annual report </a><br>
          </p>

            <h3>Other publications and reports</h3>
            <p>May 2022: <a href="https://wiki.neic.no/w/ext/img_auth.php/5/52/NeIC_Impact_Report_spreads.pdf">Impact of Nordic e-Infrastructure Collaboration</a><br>
              December 2021: <a href="https://doi.org/10.5281/zenodo.6476940">Nordic FAIR Collaboration Opportunities</a><br>
              January 2021: <a href="https://wiki.neic.no/w/ext/img_auth.php/0/04/Nordic_Added_Value_for_NeIC_collaborations.pdf">Nordic Added Value for NeIC Collaborations</a> <br> 
              November 2020: <a href="https://wiki.neic.no/w/ext/img_auth.php/b/b5/Edited_e-Science_Action_Plan_evaluation.pdf">Knowledge Creation through Cross-Border Sharing of eInfrastructure: Report on NeIC’s Implementation of the Nordic e-Science Action Plan 2.0 </a><br>
              October 2018: <a href="https://doi.org/10.5281/zenodo.2563733">The State of Open Science in the Nordic Countries: Enabling Data Science in the Nordic Region </a><br>
             </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
