<div class="container mtb">
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        {% for day in site.schedule %}
          <a href="#list_{{ forloop.index0 }}" class="list-group-item list-group-item-info strong"
             data-toggle="collapse"
             data-parent="#param-menu"><b>{{ day.day }} - {{ day.title }}</b></a>

          {% if day.collapse == 'show' %}
            <div class="collapse in" id="list_{{ forloop.index0 }}">
          {% else %}
            <div class="collapse" id="list_{{ forloop.index0 }}">
          {% endif %}
            <br>
            <table class="table table-hover" style="table-layout: fixed;">
              <tbody>
                {% for section in day.sections %}
                  {% if section.type == 'workshop' %}
                    <tr>
                  {% elsif section.type == 'conference' %}
                    <tr class="warning">
                  {% else %}
                    <tr class="success">
                  {% endif %}
                    <td style="width: 120px;">
                      {{ section.time }}
                      {% if section.break %}
                        <br>
                        <font color="#b0b0b0">
                          break:
                          <br>
                          {{ section.break }}
                        </font>
                      {% endif %}
                    </td>
                    {% if section.type == 'workshop' %}
                      {% for session in section.sessions %}
                        {% for workshop in site.workshops %}
                          {% for workshop_session in workshop.sessions %}
                            {% assign i = forloop.index %}
                            {% if workshop_session == session.name %}
                              <td style="background-color: {{ workshop.color }};">
                                {% if workshop.title != "TBA" %}
                                  <b><a href="{{ workshop.url }}">{{ workshop.title }}</a></b>
                                  {% if i == 1 %}
                                    <br>
                                    {% for p in site.people %}
                                      {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                                      {% if workshop.chair == person_path %}
                                        {% assign person = p %}
                                        {% assign selected_person_path = person_path %}
                                      {% endif %}
                                    {% endfor %}
                                    <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>
                                    <br>
                                    Room:
                                    <a href="{{ session.room_url }}" target="_blank">{{ session.room }}</a>
                                  {% else %}
                                    <br>
                                    (continued)
                                  {% endif %}
                                {% endif %}
                              </td>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      {% endfor %}
                    {% elsif section.type == 'conference' %}
                      {% assign session = site.sessions | where: "session", section.session | first %}
                      <td>
                        <h4><a href="{{ site.baseurl }}/sessions/{{ section.session }}">{{ session.title }}</a></h4>

                        {% if session.chair %}
                          Session chair:
                          {% for p in site.people %}
                            {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                            {% if session.chair == person_path %}
                              {% assign person = p %}
                              {% assign selected_person_path = person_path %}
                            {% endif %}
                          {% endfor %}
                          <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>, {{ person.affiliation }}
                        {% endif %}

                        {% assign talks = site.talks | where: "session", section.session %}
                        {% for talk in talks %}
                          <hr>
                          {% if talk.title == 'TBA' %}
                            <font color="#808080">Title to be announced</font>
                          {% else %}
                            {% if talk.abstract == 'none' %}
                              <b>{{ talk.title }}</b>
                            {% else %}
                              <b><a href="{{ talk.url }}">{{ talk.title }}</a></b>
                            {% endif %}
                          {% endif %}
                          <br>
                          {% if talk.speaker == "TBA" %}
                             TBA
                          {% else %}
                             {% for p in site.people %}
                               {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                               {% if talk.speaker == person_path %}
                                 {% assign person = p %}
                                 {% assign selected_person_path = person_path %}
                               {% endif %}
                             {% endfor %}
                             <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>, {{ person.affiliation }}
                          {% endif %}
                        {% endfor %}
                      </td>
                    {% else %}
                      <td>
                        {{ section.title }}
                      </td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
