<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/pub-banner.png);">
</section>

<section class="wys-editer single-activities">
  <div class="container">
    <h1>{{ page.name }}</h1>
    <div class="tagline">{{ page.tagline }}</div>
    <div class="row">
      <div class="col-md-7">
        <div class="content">
          
          <div class="project-box">
            {% if page.type %}<h2>{{ page.type }}</h2>{% endif %}
           
            {% if page.links %}
              <p class="top"><b>LINKS:</b></p>
              {% for link in page.links %}
                <p class="no-space">
                  <span class="color"><b><a href="{% include conditional_baseurl url=link.url %}">{{ link.text | default: link.url }}</a></b></span>
                  {% if link.description %} - {{ link.description }}{% endif %}
                </p>
              {% endfor %}
            {% endif %}
          </div>

          {{ content }}

</section>
