{% assign this_service = page.path | replace: '_services/', ''  | replace: '.md', '' %}
{% assign leader_path = "_people/" | append: page.leader | append: ".md" %}
{% assign leader = site.people | where:"path", leader_path  | first %}

<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/pub-banner.png);">
</section>

<section class="wys-editer single-activities">
  <div class="container">
    <h1>{{ page.name }}</h1>
    <div class="tagline">{{ page.tagline }}</div>
    <div class="row">
      <div class="col-md-7">
        <div class="content">
          
          <div class="project-box">
            {% if page.type %}<h2>{{ page.type }}</h2>{% endif %}
           
            {% if page.links %}
              <p class="top"><b>LINKS:</b></p>
              {% for link in page.links %}
                <p class="no-space">
                  <span class="color"><b><a href="{% include conditional_baseurl url=link.url %}">{{ link.text | default: link.url }}</a></b></span>
                  {% if link.description %} - {{ link.description }}{% endif %}
                </p>
              {% endfor %}
            {% endif %}
          </div>

          {{ content }}

</section>

<script type="text/javascript">
$( document ).ready(function() {
  if ($(window).width() < 960) {
    $( "section.single-activities .toogle-box-small .panel:first-child a.box" ).addClass( "collapsed" );
   $( "section.single-activities .toogle-box-small .panel:first-child .panel-collapse" ).removeClass( "in" );
    }
  $(window).resize(function() {
  if ($(window).width() <= 960) {
    $( "section.single-activities .toogle-box-small .panel:first-child a.box" ).addClass( "collapsed" );
   $( "section.single-activities .toogle-box-small .panel:first-child .panel-collapse" ).removeClass( "in" );
    }
  });
});
</script>
