<section class="single-pagebanner" style="background-image: url({% include baseurl %}/assets/images/pub-banner.png);">
</section>

<section class="activities">
      <div class="container">
              <div class="row" style="position: relative">
              <div class="col-md-12" style="position: static;">
                      <div class="content">
                      <h2>SERVICES</h2>
		      <p>
                        <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim. In massa tempor nec feugiat. Nunc aliquet bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Amet luctus venenatis lectus magna fringilla. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in.</i>
                      </p>
                      </div>
              </div>
              </div>

      </div>
</section>

<section class="activities-list">
      <div class="container">
      <div class="col-md-12">
      <div class="row">
              <div class="services-color">

                      <div class="left-activities">
			      <h2>LIST OF SERVICES</h2>
			       <ul class="linl-list">
                        <li>	<a href="{% include baseurl %}/service1/" class="btn with-border black-hover-btn">Service 1</a>	</li>
	       <li>	<a href="{% include baseurl %}/service2" class="btn with-border black-hover-btn">Service 2</a>	</li>
	       <li>	<a href="{% include baseurl %}/services" class="btn with-border black-hover-btn">Etc.</a>	</li>
                      </ul>
		      </div>
		      <div class="right-activities" style="background-image: url(images/past.png);"></div>
                      <div class="clearfix"></div>
                      </div>
              </div>

      </div>
      </div>
</section>
