<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                List of conference sessions
            </h2>
            <div class="spacing"></div>
            <ul>
                {% for day in site.schedule %}
                    {% for section in day.sections %}
                        {% if section.type == 'conference' %}
                            <li>
                                {% for session in site.sessions %}
                                     {% if session.session == section.session %}
                                         <a href="{{ site.baseurl }}/sessions/{{ section.session }}">{{ session.title }}</a>
                                     {% endif %}
                                {% endfor %}
                                ({{ day.day }}, {{ section.time }})
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
