{% for day in site.schedule %}
    {% for section in day.sections %}
        {% if section.type == 'conference' %}
            {% if section.session == page.session %}
                {% assign day = day.day %}
                {% assign time = section.time %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                <div class="lowlight">Session:</div>
                {{ page.title }}
            </h2>
        </div>

        <div class="col-lg-6">
            {{ page.content | markdownify }}
        </div>

        <div class="col-lg-6">
            <p><div class="highlight">Date:</div> {{ day }}</p>
            <p><div class="highlight">Time:</div> {{ time }}</p>
            <p><div class="highlight">Session chair:</div>
            {% for p in site.people %}
                {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                {% if page.chair == person_path %}
                    {% assign person = p %}
                    {% assign selected_person_path = person_path %}
                {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>
        </div>

        <div class="col-lg-12">
            <h3>Talks in this session</h3>
            <ul>
                {% for talk in site.talks %}
                     {% if talk.session == page.session %}
                         <li>
                             <a href="{{ talk.url }}">{{ talk.title }}</a>
                             <br>
                             Speaker:
                             {% if talk.speaker == 'TBA' %}
                                 TBA
                             {% else %}
                                 {% for p in site.people %}
                                     {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                                     {% if talk.speaker == person_path %}
                                         {% assign person = p %}
                                         {% assign selected_person_path = person_path %}
                                     {% endif %}
                                 {% endfor %}
                                 <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>
                             {% endif %}
                         </li>
                     {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
