<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                List of conference talks
            </h2>
            <div class="spacing"></div>
            <ul>
                {% for day in site.schedule %}
                    {% for section in day.sections %}
                        {% if section.type == 'conference' %}
                            {% for talk in site.talks %}
                                 {% if talk.session == section.session %}
                                     {% if talk.speaker != 'TBA' %}
                                         <li>
                                             {% for p in site.people %}
                                                 {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                                                 {% if talk.speaker == person_path %}
                                                     {% assign person = p %}
                                                     {% assign selected_person_path = person_path %}
                                                 {% endif %}
                                             {% endfor %}
                                             <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>:

                                             {% if talk.abstract == 'none' %}
                                                 {{ talk.title }}
                                             {% else %}
                                                 <a href="{{ talk.url }}">{{ talk.title }}</a>
                                             {% endif %}
                                             ({{ day.day }}, session time: {{ section.time }})
                                         </li>
                                     {% endif %}
                                 {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
