<section class="single-pagebanner" style="background-image: url(/assets/images/training-banner.png);">
</section>

<section class="green-box-block">
  <div class="container">
    <div class="green-box">
      <h2>Training</h2>
      <p>NeIC has a strategic focus on spreading knowledge, and facilitates cross-border participation in excellent training in e-science and e-infrastructure in the Nordics.</p>
      <p>This section lists information hubs for training among NeIC partners and stakeholders. Please contact NeIC if you would like to advertize your training activity here, and you believe it is in scope for NeIC.</p>
      <a href="/training/upcoming/" class="btn white-hover-btn">UPCOMING EVENTS</a>
      <a href="/training/past/" class="btn white-hover-btn">PREVIOUS EVENTS</a>
    </div>
  </div>
</section>

<section class="training">
  <div class="container">
    <h2>TRAINING PORTALS</h2>
    <div class="description">
      <p>Training portals operated by NeIC partners and stakeholders.</p>
    </div>
    <div class="btn-block">
      <p><b>National e-infrastructure providers:</b></p>
      <a href="https://vidensportal.deic.dk/kurser" class="btn with-border black-hover-btn">DEIC, DK</a>
      <a href="http://www.csc.fi/web/training" class="btn with-border black-hover-btn">CSC, FI</a>
      <a href="https://www.sigma2.no/content/training" class="btn with-border black-hover-btn">Sigma2, NO</a>
      <a href="http://docs.snic.se/wiki/Training" class="btn with-border black-hover-btn">SNIC, SE</a>
    </div>
    <div class="btn-block">
      <p><b>Biobanking:</b></p>
      <a href="http://booc.biobanks.se" class="btn with-border black-hover-btn">BOOC, BBMRI-SE</a>    
    </div>
	  <p><br /><p>
  </div>
</section>

<section class="training">
  <div class="container">
    <div class="content">
	   {{ content }}
	<p><br /><p>    
       <div class="btn-block">
      <p><b>To the Application Processes:</b></p>
      <a href="/training/course-mobility" class="btn with-border black-hover-btn">Course Mobility Call</a>
	       <a href="/training/travel-grant" class="btn with-border black-hover-btn">Travel Grant</a>
    </div>
    </div>
  </div>
</section>
