<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                <div class="lowlight">Workshop:</div>
                {{ page.title }}
            </h3>
        </div>

        <div class="col-lg-6">
            {{ page.content | markdownify }}
        </div>

        <div class="col-lg-6">
            <p>
                <div class="highlight">Workshop chair:</div>
                {% if page.chair == "TBA" %}
                    TBA
                {% else %}
                    {% for p in site.people %}
                        {% assign person_path = p.path | replace:'_people/',''  | replace:'.md','' %}
                        {% if page.chair == person_path %}
                            {% assign person = p %}
                            {% assign selected_person_path = person_path %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <a href="{{ site.baseurl }}/people/{{ selected_person_path }}/">{{ person.name }}</a>
            </p>
            <div class="highlight">Sessions:</div>
            <ul>
                {% for day in site.schedule %}
                    {% for section in day.sections %}
                        {% if section.type == 'workshop' %}
                            {% for session in section.sessions %}
                                {% for workshop_session in page.sessions %}
                                    {% if session.name == workshop_session %}
                                        <li>{{ day.day }}, {{ section.time }} (Room: {{ session.room }})</li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
