<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="body">
            <script>
		$(document).ready(function(){
  $('affiliate .carousel').slick({
    setting-name: setting-value
  });
});
	</script>
            {% include header.html %}
            {% if page.include %}
                {% include {{ page.include }}.html %}
            {% endif %}
           
            {% include footer.html %}
            {% include js.html %}
        </div>
        <div>
            <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
        </div>
    </body>
</html>
