<!doctype html>
<html lang="en">
    {% include head.html %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeiE2rX4QPPoAfyW26GIdInRHDPmTBymU&callback=initMap" async defer></script>
    <body>
        <div class="body">
            {% include header.html %}
            {% if page.include %}
                {% include {{ page.include }}.html %}
            {% endif %}
           
            {% include footer.html %}
            {% include js.html %}
        </div>
    </body>
</html>
